.popup__close-button {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -50px;
    right: -50px;
    appearance: none;
    border: none;
    background-color: transparent;
    background-image: url(../../../images/closeicon.png);
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-position: center;
}


.popup__close-button:hover {
    opacity: 0.6;
    transition: opacity 0.3s linear;
    cursor: pointer;
}


@media (max-width: 600px) {
    .popup__close-button {
        right: -5px;
        top: -35px;
        width: 28px;
        height: 28px;
        background-size: 28px 28px;
    }
}