.footer__copyright {
    margin-top: 67px;
    margin-bottom: 60px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}


@media (max-width: 600px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
        margin-top: 48px;
        margin-bottom: 36px;
    }
}