.profile {
    max-width: 880px;
    min-height: 120px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 40px;
    align-items: center;
}



@media (max-width: 900px) {
    .profile {
        flex-direction: column;
        max-width: 581px;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .profile {
        max-width: 282px;
    }
}