.elements {
    display: grid;
    gap: 17px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 880px;
    margin-top: 51px;
    margin-right: auto;
    margin-left: auto;
}


@media (max-width: 900px) {
    .elements {
        grid-template-columns: repeat(2, 282px);
        max-width: 581px;
    }
}


@media (max-width: 600px) {
    .elements {
        grid-template-columns: repeat(1, 282px);
        max-width: 282px;
    }
}

