.element__trash-icon {
    background-image: url(../../../images/trash__icon.svg);
    position: absolute;
    border: none;
    background-color: transparent;
    appearance: none;
    background-repeat: no-repeat;
    right: 15px;
    top: 18px;
    background-position: center;
    width: 18px;
    height: 20px;
}

.element__trash-icon:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s linear;
}