.form__input-error_active {
    display: block;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin-left: 36px;
    margin-top: 5px;
    margin-bottom: 13px;
    max-width: 358px;
}

.form__input-error_active:last-of-type {
    margin-bottom: 0;
}

@media (max-width: 600px) {
    .form__input-error_active {
        margin-left: 22px;
        max-width: 238px;
    }
}